.site__navbar { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: var(--color-black);
    padding: 1rem 2rem;
}
.site__navbar-logo { 
    margin: -2.8rem -2rem;
    padding: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.site__navbar-logo img { 
    width: 9rem;
    }
.site__navbar-links { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: larger;
}
.site__navbar-links li { 
    margin: 0 1rem;
    cursor: pointer;
}
.site__navbar-links li:hover { 
    color: var(--color-grey);
}
.site__navbar-login { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.site__navbar-login a { 
    margin: 0 1rem;
    text-decoration: none;
    font-size: larger;
    transition: 0.2s ease;
}
.site__navbar-login a:hover {
    border-bottom: 1px solid var(--color-grey);
}
.site__navbar-login div {
    width: 1px;
    height: 1rem;
    background-color: var(--color-grey);
}